<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="room.css">
    <title>Treatmentstreet Video Conference</title>
   
  </head>
  <body>
    <div id="page-content">
      <div id="content-wrap" class="mainContainer">
        <div class="menuContainer">
          <div class="logoContainer">
            <img
            
              src="./white-logo.png"
              class="logo"
            />
            <div class="textContainer">
              <p class="logoText">Treatment</p>
              <p class="logoText">Street</p>
            </div>
          </div>
          <p class="menuText">Profile</p>
          <div class="menuSection">
            <div class="selected"></div>
            

              <p class="menuText">Conference</p>
        </div>
     
       
        </div>
        <div class="contentContainer">
          <div class="searchContainer"></div>

          <div class="doctorPageContainer">
            <div id="video-grid"></div>

          </div>

        </div>

      </div>
  </body>
</html>
