<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="room.css">
    <title>Treatmentstreet Video Conference</title>
   
  </head>
  <body>
    <div id="page-content">
      <div id="content-wrap" class="mainContainer">
        <div class="menuContainer">
          <div onclick="goToSite()" class="logoContainer">
            <img

              src="./white-logo.png"
              class="logo"
            />
            <div class="textContainer">
              <p class="logoText">Treatment</p>
              <p class="logoText">Street</p>
            </div>
          </div>
          <div onclick="goToHome()" class="menuSection">
            <img src="/user.png" class="menuLogo">
            <p class="menuText">Profile</p>
          </div>
          <div class="menuSection">
            <div class="selected"></div>
            <img src="/conference.png" class="menuLogo" style="margin-top: 5px;">


              <p class="menuText">Conference</p>
        </div>
     
       
        </div>
        <div class="contentContainer">
          <div class="searchContainer">
            <div class="userContainer">
              <div style="width:40px"></div>
              <p  class="selectedButton">Home</p>
              <p class="not_selectedButton">About us</p>
              <p class="not_selectedButton">Contact</p>
              <p class="not_selectedButton">Procedures</p>
              <div style="width:40px"></div>
              <div class="bellContainer"></div>
              <div onclick="goToHome()" class="profileContainer">
                <img src="/profile.png" class="profilePicture"/>
                <div >
                  <p class="profileName">John</p>
                  <div style="display: flex; margin-top: 5px; cursor: pointer;">
                    <p class="profileType">Doctor</p>
                    <svg style="color:#009688;margin-top:6px" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" class="resultList_profileArrow__1fH2A" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                  </div>
                </div>
              </div>
            </div>
            

          </div>

          <div class="doctorPageContainer">
            <p class="title">Your conference is running</p>
            <div id="video-grid"></div> 
            <div class="buttonSectionRole">
              <button onclick="endCamera()" class="cameraButton">Stop camera</button>
              <button onclick="muteVideo()" class="audioButton">Stop audio</button>
            </div>
          </div>

        </div>

      </div>
  </body>
</html>
